@charset "utf-8";
/* CSS Document */

body {background-color:#ffffff;
	color:#000000;
	font-family:Verdana, Geneva, sans-serif;
	}
	
body a {color:#000000;}

header {color:#000000;}
	
#hilfscontainer {width: 100%;}

aside {display:none;}

nav {display:none;}

main {background-color:#ffffff;
	color: #000000;
	width:100%;}
	
main h1 {font-size: xx-large;
 	margin-bottom: 10px;
	margin-top: 0px;}		

article {margin:20px;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	border:0px;}

footer {display:none;}

img {max-width:100%; height:auto;}
